

.pet-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
}

.card {
  flex-basis: 0 0 25%; 
  text-align: center;
  background-image: linear-gradient(#54428E, #028090);
  border: solid 3px grey;
}

img {
  width: 100%;
  border: solid 1px grey;
  border-radius: 5%;
}

h5 {
  margin: 5px;
}

body {
  background-color: #b6b1b6;
}

.filter-button-area {
  display: flex;
  justify-content: space-around;
}

.filter-button {
  width: 20%;
  height: 20%;
  margin: 1%;
  padding: 1%;
  border: solid 2px grey;
  border-radius: 5%;
}

#Dogs {
  background-color: blue;
}

#Cats {
  background-color: red;
}

#Dinosaurs {
  background-color: green;
}

#myForm {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 5px black;
  width: 200px;
  justify-content: center;
  z-index: 2;
}

.hidden {
  display: none;
}

#form-area {
  position: fixed;
  z-index: 2;
  width: 100%; 
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
}

#form-button-container {
  display: flex;
  justify-content: center;
}

.form-button {
  flex-basis: 50%;
}

.button-to-focus {
  border: solid 10px white;
}

.blur {
  filter: blur(2px);
}

#search-div {
  display: flex;
  justify-content: center;
}

#search-button {
  flex-basis: 5%;
}
/* 54428E
  9A8C98
  028090
  95D9C3
  422040 */
